# Visual Studio
.vs/
bin/
obj/

# User files
*.user
*.suo
*.userosscache
*.sln.docstates

# Build
Debug/
Release/

# Python
venv/
.venv/
__pycache__/
*.pyc
*.pyo

# Environment
.env
.env.*

# Logs
*.log

# VS Code
.vscode/

# Node
node_modules/

# OS
Thumbs.db
.DS_Store